@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@500&display=swap');
/* #060606 -> dark brown 
   #726659 -> page title
   #7f7b78 -> HOVER btn bg dark, 
   #e2dedb -> HOVER btn white */


body {
	margin: 0;
	padding: 0;
	background-color: #E1DEDB;
	color: #726659;
	font-family: 'Lato', sans-serif !important;
	font-family: 'Radio Canada', sans-serif;
}

header {
	position: relative;
	margin: 50px 0 25px 0;
	font-size: 2.3em;
	text-align: center;
	letter-spacing: 7px;
}

button {
	border: solid 1px #b3aca7;
	background: #b3aca7;
	color: #4B4948;
	cursor: pointer;
	border-radius: 3px;
	font-size: 0.875em;
}


button:hover {
	/* background: #7f7b78; */
	background: #2EC1AC;
	color: #e2dedb;
	border: solid 1px #2EC1AC;
}

.home {
	width: 500px;
	margin: 20px auto auto auto;
	text-align: right;
}

.home a {
	color: #4B4948;
	margin-right: 30px;
}

a {
	text-decoration: none;
}

/* SEND btn */
.send-btn {
	width: 470px;
	height: 45px;
	margin: 5px 0px 0px 0px;
	cursor: pointer;
	background: #b3aca7;
	color: #4B4948;
	border: solid 1px #b3aca7;
	border-radius: 0;
	outline:none;
	overflow: hidden;
	transition: all 0.2s ease-in-out;
	/* padding: 0;
	font-size: 0.875em;
	 */
}

.alt-send-btn {
	width: 470px;
	height: 24px;
	transition: all 0.2s ease-in-out;
	font-size: 1.25em; 
	padding-bottom: 10px;
}

.alt-send-btn:hover {
	transform: translate3d(0px, -36px, 0px);
}

.send-btn:hover {
	transition: all 0.2s ease-in-out;
}

.send-text {
	display: block;
	width: 470px;
	height: 24px;
	padding-top: 10px;
}
