@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@500&display=swap');
/* #060606 -> dark brown 
   #726659 -> page title
   #7f7b78 -> HOVER btn bg dark, 
   #e2dedb -> HOVER btn white */


body {
	margin: 0;
	padding: 0;
	background-color: #E1DEDB;
	color: #726659;
	font-family: 'Lato', sans-serif !important;
	font-family: 'Radio Canada', sans-serif;
}

header {
	position: relative;
	margin: 100px 0 25px 0;
	font-size: 2.3em;
	text-align: center;
	letter-spacing: 7px;
}

button {
	border: solid 1px #b3aca7;
	background: #b3aca7;
	color: #4B4948;
	cursor: pointer;
	border-radius: 3px;
	font-size: 0.875em;
}


button:hover {
	background: #7f7b78;
	color: #e2dedb;
	border: solid 1px #7f7b78;
}

